{% extends "account/registro.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {{ servername }} - {% trans 'Descargas' %}{% endblock %}

{% block contenido %}
	<h1>{% trans 'Pagina de Descargas' %}</h3>
	<hr>
    <p class="metin">{% trans 'En esta pagina encontraras la descarga del cliente oficial del juego' %} </p>
	<div class="container container-custom metin">
		{% if descarga %}
		<table border="1" style="border: 1px solid #fff;">
        	<tr>
            	<td>{% trans 'Opciones' %} </td>
            	<td>{% trans 'Peso' %} (MB)</td>
            	<td>{% trans 'Fecha' %}</td>
            	<td>{% trans 'Link' %}</td>
            </tr>
            {% for cosa in descarga %}
            <tr>
                <td>{{ cosa.provedor }}</td>
                <td>{{ cosa.peso}} MB</td>
                <td>{{ cosa.fecha }} </td>
                <td><a href="{{ cosa.link }}" target="blank">Link </a></td>

            </tr>
            {% endfor %}

        </table>
				{% else %}
				<p>{% trans 'Aun no se han publicado los links de descarga' %}</p>
				{% endif %}
        <br><br>
    </div>
{% endblock %}
