{% extends "account/registro.html" %}
{% load bootstrap %}
{% load i18n %}

{% block title %} {{ servername }} - {% trans'Re enviar correo de activacion' %}{% endblock %}

{% block contenido %}
  <h1>{% trans'Re enviar correo de activacion' %}</h1>
  <hr>
  <p class="metin">{% trans'Usa el siguiente formulario si no te llego el correo de activacion' %}</p>
  {% if key %}
  <p>{% trans'Mensaje:' %}' <strong> {{ key }} </strong> </p>
  {% endif %}
  <form action="" method="POST" class="form-horizontal metin">
      {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
          <br>
          <input type="submit" class="btn login lime" value="Recuperar">
        </div>
      </form>

{% endblock %}
