{% extends "account/registro.html" %}
{% load bootstrap %}

{% block title %} {{ servername }} -Re enviar correo de activacion{% endblock %}

{% block contenido %}
  <h1>Re enviar correo de activacion</h1>
  <hr>
  <p class="metin">Usa el siguiente formulario si no te llego el correo de activacion</p>
  {% if key %}
  <p>Mensaje: <strong> {{ key }} </strong> </p>
  {% endif %}
  <form action="" method="POST" class="form-horizontal metin">
      {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
          <br>
          <input type="submit" class="btn login lime" value="Recuperar">
        </div>
      </form>

{% endblock %}
