{% extends "account/registro.html" %}
{% load staticfiles %}


{% block title %} {{ servername }} - Dashboard {% endblock %}

{% block contenido %}

    <h1>Dashboard </h3>
    <hr>
    <p>Hola. {{ session.real_name }} </p>
    <p>Cuenta: {{ session.login }} </p>
    <p>Coins: {{ session.coins }}
    <p class="metin">Personajes de la cuenta. </p>
    <div class="container container-custom ">
        {% if personajes %}
        <table class="table table-condensed">
            <tr>
                <td class="color-white">Nombre </td>
                <td class="color-white">Nivel </td>
                <td class="color-white">Gremio </td>
                <!--<td></td>-->
            </tr>
            {% for cosa in personajes %}
            <tr>
                <td class="color-white"> {{ cosa.name }} </td>
                <td class="color-white"> {{ cosa.level}} </td>
                <td class="color-white"> {{ cosa.guild_name}} </td>
                <!--<td></td>-->

            </tr>
            {% endfor %}

        </table>
        {% else %}
        <p> No se encontraron personajes
        {% endif %}

        <p><a href="{% url 'account:password' %}#content"> Cambiar Contraseña </a></p>
        {% if personajes %}<p><a href="{% url 'account:unlock' %}#content"> Mover Personaje </a></p> {% else %} <p>Mover Personaje </p> {% endif %}
        <p><a href="{% url 'account:logout' %}#content"> Salir </a></p>

    </div>
{% endblock %}
