{% extends "account/registro.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {{ servername }} - {% trans 'Ranking' %} {% endblock %}

{% block contenido %}
	<h1 class="metin">{% trans 'clasificación' %}</h3>
	<hr>
    <p class="metin">{% trans 'El ranking sera actualizado cada 4 horas.' %} </p>
	<div class="container container-custom center-block">
		<table align="center">
        	<tr>
            	<td class="color-white">{% trans 'Posición' %} </td>
                <td class="color-white">{% trans 'Nombre' %} </td>
            	<td class="color-white">{% trans 'Nivel' %} </td>
                <td class="color-white">{% trans 'Gremio' %} </td>
            	<!--<td></td>-->
            </tr>
            {% for cosa in object_list %}
            <tr>
                <td class="color-white"> {{ page_obj.start_index|add:forloop.counter0 }} </td>
                <td class="color-white"> {{ cosa.name }} </td>
                <td class="color-white"> {{ cosa.level}} </td>
                <td class="color-white"> {{ cosa.guild_name}} </td>
                <!--<td></td>-->

            </tr>
            {% endfor %}
        </table>

        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'account:top' %}?page={{ page_obj.previous_page_number }}#content"><button class="boton-madera"> {% trans 'anterior' %} </button></a>
                {% endif %}
                <span class="page-current">
                    {% trans 'Pagina' %} {{ page_obj.number }} {% trans 'de' %} {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'account:top' %}?page={{ page_obj.next_page_number }}#content"> <button class="boton-madera"> {% trans 'siguiente' %} </button> </a>
                {% endif %}
            </span>
        </div>
    	{% endif %}
        <!--<table class="table table-hover">
            <tr>
                <td>Parche</td>
                <td>Peso (MB)</td>
                <td>Fecha</td>
                <td>Link</td>
            </tr>
			<tr>
                <td>Parche Oficial</td>
                <td>4.17 MB</td>
                <td>2016-11-16</td>
                <td><a href="#" target="blank">Link </a></td>
            </tr>
        </table> -->
    </div>
{% endblock %}
