{% extends "account/signup.html" %}
{% load bootstrap %}
{% load i18n %}

{% block title %} {{ servername }} - {% trans 'Cambiar Password' %} {% endblock %}

{% block contenido %}
  <h1>{% trans 'Restablecer Password' %}</h1>
  <hr>
  <p class="metin">{% trans 'Usa el siguiente formulario para recuperar tu password' %}</p>
  {% if key %}
  <p>{% trans 'Mensaje' %}: <strong> {{ key }} </strong> </p>
  {% endif %}
  <form action="" method="POST" class="form-horizontal metin">
      {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
          <br>
          <input type="submit" class="btn login lime" value="{% trans 'Recuperar' %}">
        </div>
      </form>

{% endblock %}
