{% extends "account/signup.html" %}
{% load bootstrap %}
{% load i18n %}


{% block title %} {{ servername }} - {% trans 'Chao' %} {% endblock %}


{% block contenido %}

	<h1> {% trans 'Logout' %} </h1>
	<hr>
	{% if datos.real_name %}
	<p class="metin">{% trans 'el usuario' %} {{ datos.real_name }} </p>
	{% else %}
	<p class="metin">{% trans 'el usuario' %} {{ datos.login }} </p>
	{% endif %}
	<p class="metin"> {% trans 'se ha desconectado de forma correcta.' %} </p>
	<p><a class="metin" href="{% url 'account:login' %}"> {% trans 'Login' %} </a></p>

{% endblock %}
