{% extends "account/registro.html" %}
{% load staticfiles %}
{% load i18n %}


{% block title %} {{ servername }} - {% trans'Ranking Gremios' %} {% endblock %}

{% block contenido %}
	<h1>{% trans'Ranking de Gremios' %} </h3>
	<hr>
    <p class="metin">{% trans'El ranking sera actualizado cada 24 horas.' %} </p>
	<div class="container container-custom center-block">
		<table class="table table-condensed">
        	<tr>
            	<td class="color-white">{% trans'Posición' %} </td>
              <td class="color-white">{% trans'Nombre' %} </td>
            	<td class="color-white">{% trans'Nivel' %} </td>
              <td class="color-white">{% trans'Puntos' %} </td>
            	<td class="color-white">{% trans'Experiencia' %}</td>
            	<!--<td></td>-->
            </tr>
            {% for cosa in object_list %}
            <tr>
              <td class="color-white"> {{ page_obj.start_index|add:forloop.counter0 }} </td>
              <td class="color-white"> {{ cosa.name }} </td>
              <td class="color-white"> {{ cosa.level}} </td>
              <td class="color-white"> {{ cosa.ladder_point}} </td>
              <td class="color-white"> {{ cosa.exp }} </td>
              <!--<td></td>-->

            </tr>
            {% endfor %}
            <!-- <tr>
                <td>Media Fire</td>
                <td>1380 GB</td>
                <td>2016-11-16</td>
                <td><a href="{{ key.download2 }}" target="blank">Link </a></td>

            </tr> -->
        </table>
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'account:top_g' %}?page={{ page_obj.previous_page_number }}#content">{% trans'anterior' %}</a>
                {% endif %}
                <span class="page-current">
                    {% trans'Pagina' %} {{ page_obj.number }} {% trans'de' %} {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'account:top_g' %}?page={{ page_obj.next_page_number }}#content">{% trans'siguiente' %}</a>
                {% endif %}
            </span>
        </div>
    	{% endif %}
        <!--<table class="table table-hover">
            <tr>
                <td>Parche</td>
                <td>Peso (MB)</td>
                <td>Fecha</td>
                <td>Link</td>
            </tr>
			<tr>
                <td>Parche Oficial</td>
                <td>4.17 MB</td>
                <td>2016-11-16</td>
                <td><a href="#" target="blank">Link </a></td>
            </tr>
        </table> -->
    </div>
{% endblock %}
