{% load i18n admin_static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<title>{% block title %}{% endblock %}</title>
	 
  
	
    <!-- Custom CSS -->
	<link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet">
	{% block nav-global %}
	<link href="{% block stylesheet %}{% static 'admin/css/sb-admin.css' %}{% endblock %}" rel="stylesheet">
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />

	{% block extrastyle %}
		
	
	{% endblock %}
	 
    <!-- Morris Charts CSS -->
	<link href="{% static 'admin/css/plugins/morris.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'admin/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}

	<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
	<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
	{% block extrahead %}{% endblock %}
	{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<div id="container">
    <div id="wrapper">

        <!-- Navigation -->
		{% if not is_popup %}
		<div id="header">
		
        <nav {% block navbar %}class="navbar navbar-inverse navbar-fixed-top" {% endblock %} role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<div id="branding">
                {% block branding %}{% endblock %}
				</div>
            </div>
		
            <!-- Top Menu Items -->
	
	{% if has_permission %}
	{% block usertools %}
			
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {% firstof user.get_short_name user.get_username %} <b class="caret"></b></a>
					{% block userlinks %}
					<ul class="dropdown-menu">
                        <li>
						{% if user.has_usable_password %}
							<a href="{% url 'admin:password_change' %}"><i class="fa fa-fw fa-gear"></i> {% trans 'Change password' %}</a>
						{% endif %}

                        <li class="divider"></li>
                        <li>

							<a href="{% url 'admin:logout' %}"><i class="fa fa-fw fa-power-off"></i> {% trans 'Log out' %}</a>
                        </li>
                    </ul>
					{% endblock %}
                </li>
            </ul>
			
	{% endblock %}
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			
            <div class="collapse navbar-collapse navbar-ex1-collapse">

					<ul class="nav navbar-nav side-nav">

						{% for app in adm_app_list %}

							 <li {% if opts.app_label == app.name %} class="active" {% endif %}>
							<a href="javascript:;" data-toggle="collapse" data-target="#demo{{ app.name }}"><i class="fa fa-fw fa-dashboard"></i> {% trans  app.name  %} <i class="fa fa-fw fa-caret-down"></i></a>
								<ul id="demo{{ app.name }}" class="collapse">
								{% for apps in app.models %}
									
									<li>
										<a href="{{ apps.admin_url }}">{% trans apps.name %}</a>
									</li>
									
								{% endfor %}
								</ul>
							</li>
								
							
						{% endfor %}
						
                    

                </ul>
            </div>
			{% endif %}	
            <!-- /.navbar-collapse -->
        </nav>
		 </div>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->

                <!-- <div class="row"> -->
                    <!-- <div class="col-lg-12"> -->
                        <!-- <div class="alert alert-info alert-dismissable"> -->
                            <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                            <!-- <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features! -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
		{% endif %}
				{% block messages %}
					{% if messages %}
				<div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
					{% for message in messages %}
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						
						
                        <i {% if message.tags %} class="{{ message.tags }}"{% endif %} class="fa fa-info-circle"></i>  {{ message|capfirst }}
    
					{% endfor %}
					
                        </div>
                    </div>
                </div>
					{% endif %}
				{% endblock messages %}
				
				
				
				<!-- Content -->
				<div class="row">
					<div id="content" class="{% block coltype %}colM{% endblock %}">
						{% block pretitle %}{% endblock %}
						
						<div class="col-lg-12">
							
						{% block content_title %}{% if title %}<h1 class="page-header">{{ title }}</h1>{% endif %}{% endblock %}
							
						{% block breadcrumbs %}
						<ol class="breadcrumb">
										<i class="fa fa-dashboard"></i>

										<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
											{% if title %} &rsaquo; {{ title }}{% endif %}
										
										

						</ol>
						{% endblock %}
							
						</div>
						{% block content %}
						{% block object-tools %}{% endblock %}
						{{ content }}
						{% endblock %}
						{% block sidebar %}{% endblock %}

						
						<br class="clear" />
					</div>
                </div>
				 <!-- END Content -->
				
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	
	
    <!-- jQuery -->

    <script src="{% static 'admin/js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="{% static 'admin/js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/morris/morris-data.js' %}"></script>
	{% block script %}

	{% endblock %}
</div>  <!-- div id container -->
</body> 

</html>