{% extends "account/signup.html" %}
{% load i18n %}

{% block title %} {{ servername }} - {% trans 'Donaciones' %}{% endblock %}

{% block contenido %}
	<h1 class="metin">{% trans 'Donaciones' %}</h1>
        <hr>
            <p>
                {% trans 'Las donaciones son usadas para el mantenimiento del servidor, el pago del hosting web y otros gastos relacionados con el servidor' %}
            </p>
            <p>
                {% trans 'Dependiendo de la cantidad de dinero que donas asi mismo seras recompenzado con MDS que sirven para comprar items especiales en el juego.' %}
            </p>
	        <p>
                {% trans 'Cuenta' %}: {{ session.login }}
            </p>
            <p>
                <a href="{% url 'account:login' %}#content"> {% trans 'Regresar' %} </a>
            </p>
            <br>
            <iframe src="{{ widget }}"  height="400" width="500" frameborder="0"></iframe>
            <br>
            <!--	<h3 class="metin">Donaciones por SMS </h1>
            </br></br>
            <p>Por cada mensaje donado se entregara DRS dependiendo del pais de residencia <a href="#">info</a></p>
            <a class="rm_pay_btn margin-def" href="https://iframes.recursosmoviles.com/v3/?wmid=9252&cid=38139&xf=usuario" target="_blank"><img src="https://iframes.recursosmoviles.com/v3/button.php?label=games&theme=2&color=black" /></a>-->
            <p>

            </p>

{% endblock %}
