{% extends "account/registro.html" %}


{% block title %}Metin2 Zaunt - Donaciones{% endblock %}

{% block contenido %}
	<h1 class="metin">Donaciones</h3>
	<hr>
  <p>Las donaciones son usadas para el mantenimiento del servidor, el pago del hosting web y otros gastos relacionados con el servidor </p>
  	<p>Dependiendo de la cantidad de dinero que donas asi mismo seras recompenzado con MDS que sirven para comprar items especiales en el juego.</p>
  	<table class="color-white margin-def">
    	<tr>
      		<td>Precio</td>
      		<td>Recompenza</td>
    	</tr>
    	<tr>
      		<td>3 Euros</td>
      		<td>300 MDS </td>
    	</tr>
    	<tr>
      		<td>5 Euros</td>
      		<td>550 MDS </td>
    	</tr>
    	<tr>
      		<td>10 Euros</td>
      		<td>1100 MDS </td>
    	</tr>
    	<tr>
      		<td>20 Euros</td>
      		<td>2300 MDS </td>
    	</tr>
	</table>
	<center style="
    float: right;
    margin: -90px 30px 0 0;
	"><a class="rm_pay_btn" href="#" target="_blank"><a class="rm_pay_btn" href="https://iframes.recursosmoviles.com/v3/?wmid=9252&cid=39336&m=bank&xf=usuario&x=&pcreditcard=300%20MD,550%20MD,1100%20MD,2300%20MD&pdeposit=300%20MD,550%20MD,1100%20MD,2300%20MD&ppaypal=300%20MD,550%20MD,1100%20MD,2300%20MD&ppaysafecard=300%20MD,550%20MD,1100%20MD,2300%20MD&psafetypay=1100%20MD,2300%20MD&psafetypaycash=1100%20MD,2300%20MD&ppayvalida=300%20MD,550%20MD,1100%20MD,2300%20MD" target="_blank"><img src="https://iframes.recursosmoviles.com/v3/button.php?label=games&theme=3&color=red"/></a>
	</center>
  	<br>
  <!--	<h3 class="metin">Donaciones por SMS </h1>
  </br></br>
  <p>Por cada mensaje donado se entregara DRS dependiendo del pais de residencia <a href="#">info</a></p>
  <a class="rm_pay_btn margin-def" href="https://iframes.recursosmoviles.com/v3/?wmid=9252&cid=38139&xf=usuario" target="_blank"><img src="https://iframes.recursosmoviles.com/v3/button.php?label=games&theme=2&color=black" /></a>--> 
  <p></p>
	
{% endblock %}